version: "3.5"

services:
  database:
    image: mariadb:latest
    ports:
      - 3306:3306
    volumes:
      - data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress

  wordpress:
    depends_on:
      - database
    image: wordpress:latest
    ports:
      - 8080:80
    volumes:
      - .:/var/www/html
    restart: always
    environment:
      WORDPRESS_DB_HOST: database
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress

  adminer:
    image: "dockette/adminer:mysql"
    ports:
      - "8101:80"
    restart: always
    environment:
      PMA_ARBITRARY: 1
      PMA_HOST: database
      MYSQL_ROOT_PASSWORD: root

volumes:
  data:
