// Carousel

.main-carousel {
  overflow: hidden;
  background-image: linear-gradient(to bottom, $white, #e0e0e0);

  .carousel-inner {
    top: -1px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: auto;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 1rem;
    height: 2rem;

    @media (min-width: 576px) {
      width: 1.25rem;
      height: 2.5rem;
    }

    @media (min-width: 768px) {
      width: 1.5rem;
      height: 3rem;
    }

    @media (min-width: 992px) {
      width: 1.75rem;
      height: 3.5rem;
    }

    @media (min-width: 1200px) {
      width: 2rem;
      height: 4rem;
    }
  }

  .carousel-control-prev-icon {
    background-image: url("../img/arrow-left.svg");
  }

  .carousel-control-next-icon {
    background-image: url("../img/arrow-right.svg");
  }
}

.rated-carousel {
  padding-bottom: 1rem;

  .carousel-link {
    color: $dark-gray;
    outline: none;

    .card-img-top,
    .card-text {
      transition: all .1s ease-in-out;
    }

    &:hover {
      text-decoration: none;

      .card-img-top {
        transform: scale(1.03);
      }

      .card-text {
        color: $scarlet;
      }
    }
  }

  .card {
    padding-top: 1rem;
    border: 0;

    &-text {
      text-align: center;
      text-transform: uppercase;
    }
  }

  .slick-dots li button::before {
    font-size: 12px;
  }
}
