// Colors

$white: #fff;
$black: #222;

$pale: #feedd1;
$scarlet: #cf0405;
$yellowish-orange: #faa61a;
$cobalt: #1f3876;
$whatsapp: #49e670;

$lighter-gray: #eee;
$light-gray: #e0e0e0;
$greyish: #b1b1b1;
$middle-gray: #626262;
$dark-gray: #333;
