// Footer

/* stylelint-disable selector-max-class */
/* stylelint-disable selector-max-compound-selectors */
footer {
  padding: 4rem 0;
  color: $white;
  background: $dark-gray;
}

.locations {
  text-align: center;
  border-bottom: 2px solid $middle-gray;

  .container {
    padding-bottom: 4rem;

    @media (max-width: 768px) {
      padding-bottom: 2rem;
    }
  }

  &-icon {
    margin-bottom: 2rem;
  }

  &-title {
    font-size: 1rem;
    color: $white;
    text-transform: uppercase;
  }

  &-address {
    margin-bottom: 0;
    font-size: .875rem;
  }

  &-block:nth-child(2) {
    @media (max-width: 768px) {
      padding: 2rem 0;
    }
  }
}

.infos {
  padding-top: 4rem;

  @media (max-width: 768px) {
    padding-top: 2rem;
  }

  .container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .footer-nav {
    display: flex;

    @media (max-width: 768px) {
      justify-content: center;
      margin-bottom: 2rem;
    }

    @media (max-width: 416px) {
      flex-direction: column;
      align-items: center;
    }

    .nav {
      display: initial;
      padding-left: 0;

      &:first-child {
        margin-right: 4rem;

        @media (max-width: 768px) {
          margin-right: 0;
          margin-bottom: .5rem;
        }
      }

      @media (max-width: 768px) {
        display: flex;
      }

      &:last-child .nav-item:last-child .nav-link {
        @media (max-width: 768px) {
          margin-right: 0;
        }
      }
    }

    .nav-item {
      margin-bottom: 1rem;

      @media (max-width: 768px) {
        margin-bottom: 0;
      }
    }

    .nav-link {
      padding: 0;
      font-size: .875rem;
      color: $white;
      transition: color ease .3s;

      &:hover {
        color: $yellowish-orange;
      }

      @media (max-width: 768px) {
        margin-right: 1rem;
      }
    }
  }

  .social-nav {
    .nav {
      @media (max-width: 768px) {
        justify-content: center;
      }

      @media (max-width: 416px) {
        flex-direction: column;
        align-items: center;
      }

      &:last-child .nav-item:last-child .nav-link {
        margin-right: 0;
      }
    }

    .nav-link {
      padding: 0;
      font-size: .875rem;
      color: $white;
      transition: color ease .3s;

      &:hover {
        color: $yellowish-orange;
      }

      &:first-child {
        margin-right: 2rem;
        font-size: .875rem;
      }

      img {
        margin-right: .5rem;
      }

      @media (max-width: 416px) {
        &:first-child {
          margin-right: 0;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
