// Products
.products {
  a:hover {
    color: $dark-gray;
    text-decoration: none;
  }

  .product-card {
    margin-bottom: 2rem;
    transition: all .2s ease-in-out;

    &:hover {
      box-shadow: 0 4px 20px rgba($black, .2);
    }
  }

  .card {
    border: 1px solid $light-gray;

    &-image {
      padding: 1rem;
      background: $lighter-gray;
      border-top-left-radius: calc(.25rem - 1px);
      border-top-right-radius: calc(.25rem - 1px);
    }

    &-code {
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      color: $scarlet;
    }

    &-text {
      min-height: 6rem;
      color: $dark-gray;
      text-transform: uppercase;
    }

    &-category {
      margin-bottom: 0;
      font-size: .75rem;
      color: $greyish;
      text-transform: uppercase;
    }
  }
}
